$locked-input-background-color: rgba(255, 255, 255, 0.5);

.bwg-filter-title {
  margin-bottom: 0;
}

.bwg-total-percentage {
  display: inline-block;
  width: 5em;
  background-color: $locked-input-background-color;
  text-align: center;
  padding: 4px 0;
  border: 1px solid;
}

.bwg-input-success {
  border: 1px solid #46b450;
}

.bwg-input-error {
  border-color: red !important;
}

table.bwg-filter-settings {
  margin-top: 1em;
  margin-bottom: 1em;

  td {
    padding: 0;

    &:first-child {
      width: 200px;
    }
  }

  .bwg-filter-condition-actions {
    padding-left: 3em;
  }

  .bwg-age-lower-limit {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    background-color: $locked-input-background-color;
    width: 5em;
    padding: 4px 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .input-percentage {
    text-align: center;
    width: 5em;
  }

  .input-age-limit {
    text-align: center;
    width: 5em;
  }
}

.bwg-form-buttons-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.bwg-group-selected {
  color: rgba(0, 0, 200, 0.8);
}

.bwg-group-size {
  color: rgba(0, 0, 0, 0.4);
}

.bwg-filter-groups-table {
  border-collapse: collapse;

  td, th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
  }

  th {
    color: #23282d;
  }

  .bwg-group-selected, .bwg-group-size {
    width: 40px;
    text-align: right;
  }

  td.bwg-group-selected {
    border-right: none;
  }

  td.bwg-group-size {
    border-left: none;
  }

  .bwg-group-problem {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .bwg-vertical-sum, .bwg-horizontal-sum {
    font-weight: bold;
  }

  .bwg-vertical-sum {
    text-align: center;
  }

  .bwg-horizontal-sum {
    text-align: right;
  }
}
