/**
 * This file contains the styles for the profile field type "checkbox" used in the
 * evaluation meta-box.
 */
.bwg-epf-checkbox-container {
  display: flex;
}

.bwg-epf-checkbox-action-container {
  flex-shrink: 1;
}

.bwg-epf-checkbox-text-container {
  flex-grow: 1;
}

.bwg-epf-checkbox-actions {
  margin: 1px 0 0 0;

  .bwg-epf-checkbox-move-handler {
    cursor: s-resize;
  }

  li {
    display: inline-block;
    margin: 0;

    a {
      display: block;
      padding: 3px 5px 7px 5px;
    }
  }
}
