/**
 * This file contains the styles for the profile field type "choice" used in the
 * evaluation meta-box.
 */
.bwg-epf-choice-container {
  display: flex;
}

.bwg-epf-choice-action-container {
  flex-shrink: 1;
}

.bwg-epf-choice-text-container {
  flex-grow: 1;
}

.bwg-epf-choice-default-container {
  width: 30px;

  input[type=radio] {
    display: block;
    margin: 7px auto 0 auto;
  }
}

.bwg-epf-choice-actions {
  margin: 1px 0 0 0;

  .bwg-epf-choice-move-handler {
    cursor: s-resize;
  }

  li {
    display: inline-block;
    margin: 0;

    a {
      display: block;
      padding: 3px 5px 7px 5px;
    }
  }
}