@import "../../../_mixins.scss";

/**
 * Evaluation Profile Fields Meta Box.
 */
#bwg-epf-meta-box {
  $padding-h: 12px;
  $padding-v: 8px;

  .bwg-epf-section-header {
    padding: $padding-v $padding-h;
    font-weight: bold;
  }

  .bwg-epf-section-content {
    background-color: rgba(255, 255, 255, .9);
    padding: 0 $padding-h $padding-v $padding-h;
  }
}

///
// The list containing the individual profile fields.
///
#bwg-epf-list {
  position: relative;
}

///
// The container for one profile field.
///
.bwg-epf-field-container {
  position: relative;
  margin: 5px 0;
}

///
// The field actions container. This is actually a <ul>.
//   The actions would only be visible, when the user hovers over the
//   profile field container.
///
.bwg-epf-field-actions {
  display: none;
  position: absolute;
  margin: 0;
  right: 10px;
  top: 10px;

  li {
    display: inline-block;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.bwg-epf-field-container:hover {
  .bwg-epf-field-actions {
    display: block;
  }
  .bwg-epf-field-wrapper {
    border-color: #ccc;
  }
}

.bwg-epf-move-handler {
  cursor: s-resize;
}

///
// The placeholder that would be shown while moving.
///
.bwg-epf-list-move-placeholder {
  background-color: #efefef;
  border: 1px dashed #666 !important;
  margin-bottom: 1px;
}

///
// The wrapper for one profile field. The wrapper is just inside the profile field container.
///
.bwg-epf-field-wrapper {
  border: 5px solid #efefef;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

  &:first-child {
    margin-top: 0;
  }

  > .post-attributes-label-wrapper {
    margin-top: 0;
  }

  .post-attributes-label-wrapper {
    label {
      color: #666;
    }
  }
}

///
// "Add Field" Component.
///
.bwg-epf-add-field {
  @include clearfix;
  padding: 1em 0 0.8em 0;

  .dashicons {
    color: #666;
  }

  &:hover {
    ul {
      visibility: visible;
    }
  }

  ul {
    display: inline-block;
    visibility: hidden;
    margin: -4px 0 0 -5px;

    li {
      float: left;
      margin: 0;
      border-right: 1px solid #cccccc;

      a {
        display: block;
        padding-right: 10px;
        padding-left: 9px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

///
// Default style for checkbox and radio containers.
//   This style may be used by the profile field type option forms.
///
.bwg-epf-checkbox-container,
.bwg-epf-radio-container {
  > label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }
  }
}

@import "meta-box.text";
@import "meta-box.checkbox";
@import "meta-box.choice";
@import "meta-box.year";
