@import "../../../_mixins.scss";

$color-admin-border-gray: #e5e5e5;

.bwg-strata-stats-box {
  width: 350px;
  border: 1px solid $color-admin-border-gray;
  background-color: #fff;
  margin-right: 10px; // Horizontal distance between two strata stats boxes.
  margin-bottom: 10px; // Vertical distance between two strata stats boxes (in case the boxes take up more than one line).
}

.bwg-strata-stats-box-filterable {
  .bwg-strata-stats-box-header {
    cursor: pointer;
  }
}

.bwg-strata-stats-box-header {
  border-bottom: 1px solid $color-admin-border-gray;
  padding: 8px 10px;
}

.bwg-strata-stats-box-content {
  padding: 8px 10px;
}

.bwg-strata-stats-hint {
  font-size: 12px;
  color: #999;
}

/**
 * Strata Stats Bar Table.
 */
.bwg-strata-stats-bar-table {
  td {
    position: relative;
  }

  .bwg-strata-stats-bar-table-bar-container {
    position: absolute;
    bottom: 7px;
    left: 10px; // This is the default wordpress ".widefat td" padding left.
    right: 10px; // This is the default wordpress ".widefat td" padding right.
  }

  .bwg-strata-stats-bar-table-bar {
    background-color: #508FBB;
    height: 1px;
  }

  .bwg-strata-stats-bar-table-info-container {
    display: flex;
    width: 100%;
  }

  .bwg-strata-stats-bar-table-info-label {
    flex-grow: 1;
  }

  .bwg-strata-stats-bar-table-percentage,
  .bwg-strata-stats-bar-table-amount {
    text-align: right;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@import "strata-stats-box.choice";
@import "strata-stats-box.year";
