#bwg-em-meta-box {
  .bwg-em-email-text {
    width: 100%;
    min-height: 200px;
    height: 200px;
  }

  .bwg-em-test-email-button-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .spinner {
    float: none;
  }

  .action-notification {
    padding-top: 5px;
    padding-left: 10px;
  }

  .action-success {
    color: #46b450;
  }

  .action-failure {
    color: #dc3232;
  }

  .bwg-em-info-panel {
    margin-top: 2em;

    .description {
      padding-left: 25px;

      .dashicons {
        float: left;
        margin-left: -25px;
        color: #82878c; // The default color of the icons in the top left (publish) panel.
      }
    }
  }
}
