
.bwg-strata-stats-container {
  display: flex;
  flex-wrap: wrap;
}

.bwg-stats-container {
  display: flex;
  border: #ccc 1px solid;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.bwg-strata-table {
  margin-bottom: 20px;

  td {
    vertical-align: middle;
  }
}

.bwg-strata-legend-dot {
  display: inline-block;
  border-radius: 50%;
  width: .5em;
  height: .5em;
  line-height: 1.5em;
  margin-bottom: 1px;
}

.bwg-strata-legend-item {
  cursor: pointer;
}

.bwg-strata-hidden {
  opacity: 0.5;
}

.bwg-strata-legend-amount {
  text-align: right;
  padding-left: 2em;
}

.bwg-stats-spider {
  width: 50%;
}

.bwg-stats-table {
  padding-left: 10px;
  width: 50%;
}

.bwg-stats-details-container {
  margin-top: 5px;
  font-size: 0.9em;
}

.bwg-stats-details-item {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.bwg-stats-details-description {
  padding: 5px;
  margin-bottom: 5px;

  p {
    font-size: 1em !important;
    line-height: 1.3em !important;
    margin: 0 !important;
    color: rgba(0, 0, 0, .3) !important;
  }
}

.bwg-stats-histogram {
  width: 100%;

  td {
    position: relative;
    padding: 0;
  }
}

$bwg-font-small: 0.65rem;
.bwg-stats-std-deviation {
  font-size: $bwg-font-small;
}

td.bwg-stats-histogram-grading {
  width: 15px;
  font-size: $bwg-font-small;
}

.bwg-stats-histogram-percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  opacity: .5;
}

.bwg-stats-histogram-percentage-value {
  position: absolute;
  z-index: 1;
  padding-left: 2px;
  font-size: $bwg-font-small;
  margin-top: -2px;
}

td.bwg-stats-histogram-amount {
  width: 30px;
  text-align: right;
  font-size: $bwg-font-small;
}
