.bwg-table-label {
  padding-right: 20px;
}

.bwg-table-value-right {
  text-align: right;
}

.bwg-view-gradings-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.bwg-view-gradings-card {
  flex-basis: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bwg-user-view-grading-list {
  margin: 0;
  padding: 0;
}

.bwg-user-view-grading-list > li {
  padding: 2px 0;
}

.bwg-user-view-grading-list > li > ul {
  padding: 4px 0;
}

.bwg-user-view-grading-list > li > ul > li {
  padding: 2px 0;
  margin: 0;
}

li.has-grading {
  display: flex;
}

li.has-grading > .spacer {
  flex-grow: 1;
  border-bottom: 1px dotted #999;
  margin: 0 5px;
}

.bwg-note-container {

}

.bwg-view-card {
  background-color: #fff;
  margin-bottom: 20px;
}

.bwg-view-card-title {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.bwg-view-card-content {
  padding: 10px;

  p {
    margin: 0;
  }
}

.bwg-view-spider-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .bwg-view-card {
    flex-basis: 500px + 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}