/**
 * BWG Grading.
 */
$radio-transition-duration: .25s;
$radio-color-checked: $color-primary;
$radio-color-unchecked: $color-gray;
$radio-color-hover: $radio-color-checked;
$radio-ring-radius: 10px; // This is the inner radius.
$radio-ring-width: 1px; // This is the width (so the outer radius is $radio-ring-radius + $radio-ring-width).
$radio-dot-radius: 5px; // This is the dot radius (the dot is only visible in checked state).

.bwg-grading {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include clearfix;

    li {
      position: relative;
      display: inline-block;
      float: left;
      padding: 0;
      margin: 0 0 0 5px;

      &:first-child {
        margin-left: 0;
      }

      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        text-indent: 1px;

        font-size: 1em;
        width: 2 * ($radio-ring-radius + $radio-ring-width);
        height: 2 * ($radio-ring-radius + $radio-ring-width);
        z-index: 9;
        cursor: pointer;
        transition: all $radio-transition-duration linear;

        &:before {
          display: block;
          content: '';
          position: absolute;
          border: $radio-ring-width solid $radio-color-unchecked;
          border-radius: 100%;
          height: 2 * $radio-ring-radius;
          width: 2 * $radio-ring-radius;
          z-index: 5;
          transition: border $radio-transition-duration linear;
        }

        &:after {
          display: block;
          content: '';
          position: absolute;
          background-color: transparent;
          top: $radio-ring-radius + $radio-ring-width - $radio-dot-radius;
          left: $radio-ring-radius + $radio-ring-width - $radio-dot-radius;
          border-radius: 50%;
          width: 2 * $radio-dot-radius;
          height: 2 * $radio-dot-radius;
          z-index: 6;
          transition: background-color $radio-transition-duration linear;
        }
      }

      &:first-child, &:last-child {
        label {
          color: $radio-color-unchecked;
        }
      }

      /*
      GFF: We can comment the following out, as currently we set the color
           for all labels (not only first and last) when hovered.

      &:hover {
        &:first-child, &:last-child {
          label {
            color: $radio-color-hover;
          }
        }
      }
      */

      &:hover {
        label {
          // Show the label when hovered.
          color: $radio-color-hover;

          &:before {
            // Change the ring color when hovered.
            border-color: $radio-color-hover;
          }
        }
      }
    }
  }

  input[type=radio]:checked {
    ~ label {
      // Hide the label when checked (this would override the hovered state from above).
      color: transparent !important;

      &:before {
        border-color: $radio-color-checked;
      }
      &:after {
        background-color: $radio-color-checked;
      }
    }
  }
}
