/**
 * This file contains styles used by the BWG plugin.
 *
 * Frontend form controls like inputs, text areas, radio buttons, checkboxes and selects.
 */
.bwg-form-field {
  @include breakpoint($sm) {
    display: flex;
  }

  margin-bottom: 20px;
}

.bwg-form-field-info {
  //  background-color: #efd;
  width: 200px;
  min-width: 200px;

  label {
    display: block;
    padding: 4px 0;
  }
}

.bwg-required {
  text-decoration: none;
  border: none;
}

.bwg-form-field-control {
  //  background-color: #eef;
  flex-grow: 1;
  min-width: 200px;
}

textarea.bwg-form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid $color-primary;
  border-radius: $bwg-form-control-border-radius;
  resize: vertical;
  min-height: 2em;
}

select.bwg-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #fff url(../assets/select-arrow.png) no-repeat 95% center;
  width: 200px;
  text-indent: 0.01px;
  text-overflow: "";

  color: #666;
  border: 1px solid $color-primary;
  border-radius: $bwg-form-control-border-radius;
  padding: 4px;

  &:focus {
    color: #000;
  }
}

input[type=text].bwg-form-control,
input[type=date].bwg-form-control,
input[type=email].bwg-form-control,
input[type=number].bwg-form-control,
input[type=tel].bwg-form-control,
input[type=url].bwg-form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid $color-primary;
  border-radius: $bwg-form-control-border-radius;
}

///
// Checkbox
///
.bwg-form-field-control {
  ul.bwg-form-checkbox-vertical {
    > li:first-child {
      margin-top: 4px;
    }
  }
}

ul.bwg-form-checkbox-vertical {
  margin-left: 0;
  margin-bottom: 0;

  > li {
    display: flex;
    margin: 0 0 5px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type=checkbox]:not(old) {
    width: 2 * $radio-ring-radius;
    margin: 0;
    padding: 0;
    opacity: 0;

    + label {
      position: relative;
      display: block;
      flex-grow: 1;
      padding-left: 10px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: -2 * $radio-ring-radius;
        border: $radio-ring-width solid $radio-color-unchecked;
        border-radius: 100%;
        height: 2 * $radio-ring-radius;
        width: 2 * $radio-ring-radius;
        z-index: 5;
        transition: border $radio-transition-duration linear;
      }

      &:after {
        display: block;
        content: '\2713';
        color: $radio-color-checked;
        font-size: 0.875em;
        line-height: 1.5em;
        text-align: center;
        opacity: 0;

        position: absolute;
        top: $radio-ring-width;
        left: -2 * $radio-ring-radius + $radio-ring-width;
        height: 2 * $radio-ring-radius;
        width: 2 * $radio-ring-radius;
        z-index: 6;
        transition: opacity $radio-transition-duration linear;
      }
    }

    &:checked + label, + label:hover {
      &:before {
        border-color: $radio-color-hover;
      }
    }

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }

    &:focus + label {
      color: $color-black;
    }
  }
}


///
// Radio
///
.bwg-form-field-control {
  ul.bwg-form-radio-vertical {
    > li:first-child {
      margin-top: 4px;
    }
  }
}

ul.bwg-form-radio-vertical {
  margin-left: 0;
  margin-bottom: 0;

  > li {
    display: flex;
    margin: 0 0 5px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type=radio]:not(old) {
    width: 2 * $radio-ring-radius;
    //    min-width: 2 * $radio-ring-radius;
    //    max-width: 2 * $radio-ring-radius;
    margin: 0;
    padding: 0;
    opacity: 0;

    + label {
      position: relative;
      display: block;
      flex-grow: 1;
      padding-left: 10px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: -2 * $radio-ring-radius;
        border: $radio-ring-width solid $radio-color-unchecked;
        border-radius: 100%;
        height: 2 * $radio-ring-radius;
        width: 2 * $radio-ring-radius;
        z-index: 5;
        transition: border $radio-transition-duration linear;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        background-color: transparent;
        top: $radio-ring-radius + $radio-ring-width - $radio-dot-radius;
        left: -$radio-ring-radius + $radio-ring-width - $radio-dot-radius;
        border-radius: 50%;
        width: 2 * $radio-dot-radius;
        height: 2 * $radio-dot-radius;
        z-index: 6;
        transition: background-color $radio-transition-duration linear;
      }
    }

    &:checked + label, + label:hover {
      &:before {
        border-color: $radio-color-hover;
      }
    }

    &:checked + label:after {
      background-color: $radio-color-checked;
    }

    &:focus + label {
      color: $color-black;
    }
  }
}

ul.bwg-form-radio-horizontal {
  margin-left: 0;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;

  > li {
    display: flex;
    margin: 0 0 10px 0;

    flex-basis: 200px;
  }

  input[type=radio]:not(old) {
    width: 2 * $radio-ring-radius;
    margin: 0;
    padding: 0;
    opacity: 0;

    + label {
      position: relative;
      display: block;
      flex-grow: 1;
      padding-left: 10px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: -2 * $radio-ring-radius;
        border: $radio-ring-width solid $radio-color-unchecked;
        border-radius: 100%;
        height: 2 * $radio-ring-radius;
        width: 2 * $radio-ring-radius;
        z-index: 5;
        transition: border $radio-transition-duration linear;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        background-color: transparent;
        top: $radio-ring-radius + $radio-ring-width - $radio-dot-radius;
        left: -$radio-ring-radius + $radio-ring-width - $radio-dot-radius;
        border-radius: 50%;
        width: 2 * $radio-dot-radius;
        height: 2 * $radio-dot-radius;
        z-index: 6;
        transition: background-color $radio-transition-duration linear;
      }
    }

    &:checked + label, + label:hover {
      &:before {
        border-color: $radio-color-hover;
      }
    }

    &:checked + label:after {
      background-color: $radio-color-checked;
    }

    &:focus + label {
      color: $color-black;
    }
  }
}
