/**
 * BWG Buttons (font-awesome or text-only).
 */
.bwg-button-big-fa, a.bwg-button-big-fa {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;
  text-align: center;
  border-radius: $button-size;
  border: 1px solid $color-gray;
  color: $color-gray;

  .fa {
    font-size: 1.3em;
    line-height: $button-size;
  }

  &:hover, &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.bwg-button-big-text, a.bwg-button-big-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: $button-size / 2;
  padding-right: $button-size / 2;
  height: $button-size;
  line-height: $button-size;
  border-radius: $button-size;
  border: 1px solid $color-gray;
  color: $color-gray;

  &:hover, &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }
}
