ul.bwg-overview-list {
  list-style-type: none;

  li {
    margin: 0 0 10px 0;
    display: flex;
  }

  .bwg-overview-thumbnail {
    width: 200px;
  }

  .bwg-overview-details {
    padding-left: 10px;

    > h3, > h4, > h5 {
      margin-top: 0;
    }
  }
}
