#bwg-layout {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}

#bwg-layout-sm, #bwg-layout-md, #bwg-layout-lg {
  display: none;
}

@include breakpoint($sm) {
  #bwg-layout-xs {
    display: none;
  }
}

@include breakpoint($sm-only) {
  #bwg-layout-sm {
    display: block;
  }
}

@include breakpoint($md-only) {
  #bwg-layout-md {
    display: block;
  }
}

@include breakpoint($lg) {
  #bwg-layout-lg {
    display: block;
  }
}
