/**
 * Import the fontello bwg font.
 */
@import "fontello-bwg";
@import "fontello-animation";

.state-waiting {
  display: none;
}

.state-is-waiting {
  .state-waiting {
    display: block;
  }
}

.state-error {
  display: none;
}

.state-is-error {
  .state-error {
    display: block;
  }
}

.state-is-waiting, .state-is-error {
  .state-normal {
    display: none;
  }
}

.list-square {
  list-style-type: square;
  padding-left: 1em;
}

.level-0-visible, .level-1-visible, .level-2-visible, .level-3-visible {
  display: none;
}

.level-0 {
  .level-0-visible {
    display: block;
  }
}

.level-1 {
  .level-1-visible {
    display: block;
  }
}

.level-2 {
  .level-2-visible {
    display: block;
  }
}

.bwg {
  .bwg-action-warning {
    color: #a00;

    &:hover {
      color: #dc3232;
    }
  }
}

.bwg {
  input[type=text], input[type=date] {
    width: 100%;
  }

  .post-attributes-label-wrapper + .checkbox-wrapper {
    margin-top: .5em;
  }
}

///
// BWG Notice
///
.bwg-notice {
  padding: 11px 15px;
  margin: 25px 0 0 0;
  background-color: #fff;
  border-left: 4px solid #ffba00;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.postbox-container {
  .bwg-notice {
    background-color: #f7f7f7;
  }
}

.postbox .inside .bwg {
  > p:last-child {
    margin-bottom: 1px !important;
  }
}

///
// BWG Date From To Component.
///
.bwg-date-from-to-container {
  display: flex;

  .bwg-date-from-container,
  .bwg-date-to-container {
    flex-grow: 1;
  }

  .bwg-date-dash {
    width: 1.5em;
    text-align: center;
    padding-top: 6px;
    padding-left: 2px;
  }
}
