@import "mixins";
//@import "fontello-bwg";
//@import "fontello-animation";

/**
 * Global Responsive Breakpoints.
 */
$xs: (max: 767px);
$sm: (min: 768px);
$md: (min: 992px);
$lg: (min: 1200px);

/**
 * Global Responsive Media Queries for some "only" sizes.
 */
$sm-only: (min: map-get($sm, min), max: map-get($md, min) - 1);
$md-only: (min: map-get($md, min), max: map-get($lg, min) - 1);

/**
 * Colors.
 */
$color-white: #fff;
$color-black: #000;
$color-gray: #999;
$color-light-gray: lighten($color-gray, 25);
$color-primary: #ff9000;
$color-success: #899b4b;

/**
 * Icons.
 */
$icon-size: 25px;
$icon-size-big: 35px;

/**
 * Buttons.
 */
$button-size: 32px;

/**
 * Form controls.
 */

// Note that the vantage theme has a border radius of 3 pixels defined.
$bwg-form-control-border-radius: 3px;

$navigation-col-md: 24%;
$navigation-col-min-width-md: 250px;
$navigation-content-hspace-md: 60px;

///
// Front Layout Media Queries.
///
@import "front-layout-media-queries";

///
// BWG evaluation title.
///
@include breakpoint($sm) {
  article.bwg_evaluation {
    .entry-header {
      &:before {
        display: block;
        float: left;
        width: $navigation-col-md;
        min-width: $navigation-col-min-width-md;
        height: 1px;
      }
    }
  }
}

///
// States: normal, loading
///
.bwg-normal-visible {
  display: inherit;
}

.bwg-loading-visible {
  display: none;
}

.bwg-loading {
  .bwg-loading-visible {
    display: inherit;
  }

  .bwg-normal-visible {
    display: none;
  }
}

@import "bwg-buttons";
@import "bwg-prodomo";

.bwg-register-login {
  font-weight: bold;
}

/**
 * Loading icon.
 */
$loading-icon-size: 100px;
.bwg-loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($loading-icon-size / 2);
  margin-top: -($loading-icon-size / 2);
  width: $loading-icon-size;
  height: $loading-icon-size;

  .bwg-outline {
    stroke: $color-gray;
    stroke-width: .5;
  }
}

/**
 * Clickable font-awesome icons.
 */
.bwg-fa-clickable {
  cursor: pointer;
  color: $color-gray;
}

/**
 * BWG Evaluation Form (for the frontend).
 */
#bwg-e {
  margin-bottom: 4em;

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

/**
 * BWG Evaluation Form (in case the form would currently be submitted).
 */
.bwg-form-submitting {
  a {
    pointer-events: none;
    opacity: .5;
  }
}

.bwg-row {
  display: flex;
}

.bwg-navigation-col {
  display: none;

  @include breakpoint($sm) {
    display: block;
    width: $navigation-col-md;
    min-width: $navigation-col-min-width-md;
  }
}

.bwg-content-col {
  width: 100%;

  @include breakpoint($sm) {
    width: 100% - $navigation-col-md;
  }
}

@include breakpoint($sm) {
  .bwg-thumbnail-container {
    margin-right: $navigation-content-hspace-md;
    margin-bottom: 2em;
    text-align: right;

    img {
      width: 100%;
      max-width: 140px;
      height: auto;
    }
  }
}

.bwg-headline {
  margin-bottom: 2em;
}

ul.bwg-navigation {
  width: 100%;
  margin: 0;
  padding: 0 $navigation-content-hspace-md 0 0;
  list-style: none;
  box-sizing: border-box;

  li {
    margin: 0;
  }

  > li > a {
    // First level (Interest) Link.
    text-transform: uppercase;
  }

  > li > ul {
    // By default we hide all second levels, i.e. the lists directly contained in the first level.
    display: none;
  }

  a {
    cursor: pointer;
    display: block;
    text-align: right;
    color: $color-black;

    &:visited {
      color: $color-black;
    }

    &:hover, &:active {
      color: $color-primary;
    }
  }

  .bwg-complete {
    color: $color-success;

    &:visited {
      color: $color-success;
    }
  }

  .bwg-active {
    color: $color-primary;

    &:visited {
      color: $color-primary;
    }
  }

  ul {
    list-style: none;
  }

  > li > a {
    //font-size: 1.3em;
    font-weight: bold;
    margin-top: 2em;
  }

  > li:first-child > a {
    margin-top: 0;
  }
}

/**
 * BWG Progress Container.
 */
.bwg-progress-container {
  background-color: $color-light-gray;
  height: 3px;
}

.bwg-progress {
  position: relative;
  background-color: $color-primary;
  height: 100%;
}

/**
 * BWG Description (used in level 1).
 */
.bwg-description {
  margin-bottom: 1em;
  @include clearfix;

  > *:first-child {
    margin-top: 0;
  }
}

/**
 * Level 2 Stuff.
 */
.bwg-level2-container {
  margin-bottom: 1em;
}

.bwg-statement, .bwg-statement-details > div {
  @include clearfix;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  margin-bottom: .5em;
}

.bwg-statement-details {
  color: #999;

  > div {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 0;
  }

  li {
    margin-left: 1em;
    line-height: 1.2em;
  }
}

.bwg-level2-note-container {
  margin-top: 2em;

  @include breakpoint($sm) {
    margin-top: 0;

    &:before {
      content: "";
      display: block;
    }
  }

  textarea {
    padding: 0.5em;
    line-height: 1.6em;
    min-height: 6 * 1.6em + 1em;
    resize: vertical;

    @include breakpoint($sm) {
      min-height: 4 * 1.6em + 1em;;
    }
  }
}

/**
 * BWG Form Textarea Remaining Chars
 */
.bwg-remaining-chars {
  color: $color-gray;
}

/**
 * BWG Form Final Area.
 */
@include breakpoint($sm) {
  .bwg-final-spiders-container {
    display: flex;
    flex-wrap: wrap;
  }

  .bwg-final-spider-wrapper {
    width: 50%;
  }
}

.spider-chart-big {
  .leg-label {
    font-size: 20px !important;
    fill: #ff0000 !important;
  }
}

.bwg-control-button-bar {
  width: 100%;
  margin-top: 2em;
  margin-left: -20px;
  text-align: center;

  @include clearfix;

  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@import "bwg-grading";
@import "bwg-overview";

///
// BWG Form Controls.
///
@import "bwg-form-controls";

///
// BWG Info Button
///
.info-button {
  position: relative;
  display: inline-block;
  width: 2 * $radio-ring-radius + 2px;
  margin: 0;
  padding: 0;
  opacity: 1;
  text-align: center;
  line-height: 2 * $radio-ring-radius + 2px;
  cursor: pointer;

  &:before {
    display: block;
    content: '';
    position: absolute;
    // left: -2 * $radio-ring-radius;

    border: $radio-ring-width solid $radio-color-unchecked;
    border-radius: 100%;
    height: 2 * $radio-ring-radius;
    width: 2 * $radio-ring-radius;
    //z-index: 5;
    transition: border $radio-transition-duration linear;
  }

  &:hover, &:active {
    color: $radio-color-hover;

    &:before {
      border-color: $radio-color-hover
    }
  }
}
