@import "../../mixins";

.bwg-full-view {
  .level-title {
    margin-top: 0;
    font-weight: bold;
  }

  .level-1-container {
    display: flex;
    border-top: 1px solid #666;
    padding: 20px 0 5px 10px;
  }

  .level-2-container {
    display: flex;
    border-top: 1px dashed #999;
    padding: 20px 0 5px 30px;
  }

  .level-3-container {
    display: flex;
    border-top: 1px dashed #ccc;
    padding: 5px 0 5px 50px;
  }

  .level-details {
    flex-grow: 1;
  }

  .level-grading-container {
    width: 200px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
  }

  .level-grading {
    display: flex;
    flex-direction: column;
  }

  .level-grading-label {
    color: #999;
    text-align: center;
  }

  .level-grading-control {
    text-align: center;
  }

  .level-total {
    font-weight: bold;
    text-align: right;
  }

  .level-sub-total {
    text-align: right;
  }

  .level-grading-weight {
    color: #666;
    width: 75px;
    min-width: 75px;
    text-align: right;
  }
}