.bwg-accordion {
  border: 1px solid #c3c4c7;
}

.bwg-accordion-heading {
  margin: 0;
  border-top: 1px solid #c3c4c7;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
  color: inherit;

  &:first-child {
    border-top: none;
  }
}

.bwg-accordion-trigger {
  background: #fff;
  border: 0;
  color: #2c3338;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  margin: 0;
  padding: 1em 3.5em 1em 1.5em;
  min-height: 46px;
  position: relative;
  text-align: left;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  user-select: auto;

  &:hover, &:active {
    background: #f6f7f7;
  }

  &:focus {
    color: #1d2327;
    border: none;
    box-shadow: none;
    outline-offset: -1px;
    outline: 2px solid #2271b1;
    background-color: #f6f7f7;
  }

  .title {
    pointer-events: none;
    font-weight: 600;
    flex-grow: 1;
  }

  .badge {
    padding: .1rem .5rem .15rem;
    color: #2c3338;
    font-weight: 600;

    &.blue {
      border: 1px solid #72aee6;
    }
  }

  .icon {
    border: solid #50575e;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    width: .5rem;
  }

  &[aria-expanded="true"] {
    border-bottom: 1px solid #d9dade;
  }

  &[aria-expanded="true"] .icon {
    transform: translateY(-30%) rotate(-135deg);
  }
}

.bwg-accordion-panel {
  margin: 0;
  padding: 1em 1.5em;
  background: #fff;
}