#bwg-em-meta-box .bwg-em-email-text{width:100%;min-height:200px;height:200px}#bwg-em-meta-box .bwg-em-test-email-button-container{margin-top:5px;margin-bottom:5px}#bwg-em-meta-box .spinner{float:none}#bwg-em-meta-box .action-notification{padding-top:5px;padding-left:10px}#bwg-em-meta-box .action-success{color:#46b450}#bwg-em-meta-box .action-failure{color:#dc3232}#bwg-em-meta-box .bwg-em-info-panel{margin-top:2em}#bwg-em-meta-box .bwg-em-info-panel .description{padding-left:25px}#bwg-em-meta-box .bwg-em-info-panel .description .dashicons{float:left;margin-left:-25px;color:#82878c}
