$color-level-1: #ff9000;
$color-level-2: #00B060;

.bwg-ed-items-move-placeholder {
  background-color: #efefef;
  border: 1px dashed #666 !important;
}

#bwg_ed_tree {
  padding-bottom: 20px;
}

#bwg_ed_container {
  li {
    border: 1px solid transparent; /* Because of the jquery-ui sortable placeholder. */
    margin: 0;

    &.open {
      > .bwg-ed-item-header {
        &:before {
          content: "\f140";
        }
      }

      > .bwg-ed-item-content {
        display: block;
      }
    }

    .bwg-ed-item-warning {
      color: #a00;
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin-top: 4px;
    }
  }

  .bwg-ed-item-header {
    padding: 5px;

    .row-actions {
      display: inline-block;
      padding-left: 10px;
    }

    &:hover {
      background-color: #e7e7e7;

      .row-actions {
        position: static;
      }
    }

    &:before {
      display: inline-block;
      font-family: dashicons;
      content: "\f139";
      padding-right: 10px;
    }
  }

  .bwg-ed-item-header-last-level {
    padding-left: 22px;

    &:before {
      display: none;
    }
  }

  .bwg-ed-item-content {
    display: none;
    margin-left: 50px;
  }

  ul {
    margin: 0;
    padding: 5px 0 5px 5px;

    &.bwg-ed-level-0 {
      .bwg-ed-item-content {
        border-left: 1px solid $color-level-1;
      }
    }
    &.bwg-ed-level-1 {
      .bwg-ed-item-content {
        border-left: 1px solid $color-level-2;
      }
    }
  }

  .text-level-1 {
    color: $color-level-1;
  }
  .text-level-2 {
    color: $color-level-2;
  }

  .bwg-ed-items-actions-0, .bwg-ed-items-actions-1, .bwg-ed-items-actions-2 {
    padding-left: 27px;
    padding-bottom: 5px;
  }
}
